In [ ]:
import opendatasets as od
import pandas as pd
od.download("https://raw.githubusercontent.com/Coolfede97/Tecnologias_Exponenciales_2025/refs/heads/main/Seminario/datos/student_performance.csv")

df = pd.read_csv("https://raw.githubusercontent.com/Coolfede97/Tecnologias_Exponenciales_2025/refs/heads/main/Seminario/datos/student_performance.csv")
df.head()

# El target de esta base de datos es el FinalGrade, que se va a convertir en sobresaliente (1) la nota es >= 90 y no sobresaliente (0) si la nota es < 90

Using downloaded and verified file: .\student_performance.csv

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,80.0,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,87.0,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,68.0,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,92.0,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,85.0,4.1,97.0,True

In [9]:
df['FinalGrade'] = (df['FinalGrade'] >= 60).astype(int) 
df.head()

,StudentID,Name,Gender,AttendanceRate,StudyHoursPerWeek,PreviousGrade,ExtracurricularActivities,ParentalSupport,FinalGrade,Study Hours,Attendance (%),Online Classes Taken
0,1.0,John,Male,85.0,15.0,78.0,1.0,High,1,4.8,59.0,False
1,2.0,Sarah,Female,90.0,20.0,85.0,2.0,Medium,1,2.2,70.0,True
2,3.0,Alex,Male,78.0,10.0,65.0,0.0,Low,1,4.6,92.0,False
3,4.0,Michael,Male,92.0,25.0,90.0,3.0,High,1,2.9,96.0,False
4,5.0,Emma,Female,NaN,18.0,82.0,2.0,Medium,1,4.1,97.0,True